services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: reformup
      MYSQL_USER: reformup
      MYSQL_PASSWORD: reformup
      MYSQL_ROOT_PASSWORD: root
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db

  mailpit:
    image: axllent/mailpit:latest
    container_name: laravel_mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  db_data:

